body{
    background-color: white;
}

.blueText{
    color:blue;
}
.centeredText{
text-align:center; /* центрирование*/
color:green
}
.redText{
    color:red;
}
.bigText{
    font-size: 51px; /* размер шрифта*/
}
.square{
height: 200px; /*ширина*/
width: 200px; /*высота*/
}
.circle{
height: 200px; /*ширина*/
width: 200px; /*высота*/
border-radius: 50%;  /*радиус закрыгления краев, 50% это круг, меньше - закругляемые края у квадрата"*/
}

.yellow{
    background-color: yellow;
}